<div id="<%= dom_id conversation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First user:</strong>
    <%= conversation.first_user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Second user:</strong>
    <%= conversation.second_user_id %>
  </p>

</div>
