<div class="mx-[200px]">
  <h2 class="text-2xl font-bold mb-6">New Blog Post</h2>

  <div class="bg-zinc-700 text-white p-6 rounded-lg shadow-lg">
    <%= render partial: "form", locals: {blog_post: @blog_post} %>  
  </div>
</div>
